.mobilePageItemContainer{

  position: fixed;
  width: 100%;
  max-height: 90vh;
  background-color: #F1F3F6;
  display: flex;
  padding: 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leftSide{
  width: 240px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  background-color: #fff;
  border-right: 7px solid #F1F3F6;
}
.leftSide span{
  font-size: 0.8rem;
  color: royalblue;
  font-weight: 600;
}
.rightSide{
  width: calc(100% - 240px);
  height: fit-content;
}
.topContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-bottom: 1.5px solid #dadada;
  padding-left: 15px;
  padding-top: 20px;
}
.topContainer div span,
.topContainer div .link{
  font-size: 0.85rem;
  padding-right: 5px;
  color: gray;
  cursor: pointer;
}
.topContainer div .link:hover{
  color: rgb(56, 56, 216);
}
.sortByContainer{
  display: flex;
  gap: 25px;
  margin-bottom: 9px;
}
.detailsContainer{
  display: flex;
  gap:30px;
  padding: 20px 0px 25px 30px;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
}
.detailsContainer img{
  width: 180px;
}
.details{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.mobiledetails{
  
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.mobiledetails h3{
  font-size: 1.7vw;
  margin-bottom: 15px;
  
}

.mobiledetails li{
  margin-left: 30px;
  font-size: 1.15vw;
  width: 25vw;
  white-space: nowrap;
}
.warranty{
  white-space: unset!important;
}
.priceContainer{
  min-width: fit-content;
}
.crossOffer{
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #dadada;
}


@media(min-width:850px) and (max-width:900px){
  .details{
    gap: 3vw;
  }
}

@media(max-width:850px){
  .leftSide{
    display: none;
  }
  .rightSide{
    width: 100%;
  }
  .details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: unset;
  }
  .mobiledetails h3{
    font-size: 2.5vw;
  }
  .mobiledetails li{
    font-size: 1.5vw;
  }
}

@media(max-width:600px){
  .mobilePageItemContainer{
    padding:unset ;
  }
  .rightSide{
    padding:5px;
  }
  .detailsContainer{
    gap: 10px;
  }
  .detailsContainer img{
    height: 120px;
    width: 120px;
  }
  .topContainer div span,
  .topContainer p{
    display: none;
  }
  .details{
    flex-direction: column;
    justify-content: unset;
  }
  .mobiledetails h3{
    font-size: 1rem;
  }
  .mobiledetails li{
    display: none;
  }
  .priceContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}